.cs-banner {
  .service-banner {
    @screen lg {
      &-left {
        @apply w-[65%];
        .b-path-anim {
          @apply top-[80px] right-[10px];
        }
        .b-path-anim-2 {
          left: 34px;
          @apply right-auto;
        }
      }
      &-right {
        width: 32.5%;
      }
    }
  }
}
.case-studies {
  &-item {
    @apply text-primary;
    &-in {
      @apply relative;
      @screen lg {
        @apply flex flex-wrap;
        margin: 0 -40px;
      }
    }
    &-content {
      @screen lg {
        width: 53%;
        padding: 0 40px;
      }
    }
    &-image {
      @apply mb-8;
      @screen md {
        @apply mb-14;
      }
      @screen lg {
        width: 47%;
        padding: 0 40px;
        @apply mb-0;
      }
      @screen lgd {
        img {
          @apply mx-auto;
        }
      }
    }
    h3 {
      line-height: 1.2;
      @apply text-24 mb-2.5;
      @screen lg {
        @apply text-34 mb-4;
      }
    }
    h2 {
      line-height: 1.2;
      @apply text-26 mb-5;
      @screen md {
        @apply text-56 mb-10;
      }
      @screen lg {
        @apply mb-7;
      }
    }
    p {
      margin-bottom: 39p;
      @screen md {
        @apply text-18;
        margin-bottom: 38px;
      }
    }
    .client-mesage {
      @apply mb-9;
      @screen mdd {
        @apply mt-10;
      }
      @screen md {
        @apply mb-12;
      }
      @screen lg {
        padding-left: 74px;
        @apply relative;
        margin-bottom: 30px;
        &::before {
          content: "";
          width: 50px;
          height: 1px;
          background: #b6b6b6;
          position: absolute;
          left: 0;
          top: 18px;
        }
      }
      p {
        margin-bottom: 30px;
        color: #4f4f4f;
        @apply text-18;
        @screen md {
          @apply text-24;
        }
      }
      &-foot {
        @apply flex items-center;
        img {
          width: 44px;
          height: 44px;
          min-width: 44px;
          border-radius: 50%;
          margin-right: 12px;
          @screen lg {
            width: 55px;
            height: 55px;
            min-width: 55px;
            margin-right: 18px;
          }
        }
        h4 {
          @apply text-22 text-primary;
          line-height: 27px;
        }
        span {
          @apply text-16;
          line-height: 27px;
        }
      }
    }
    .button,
    .cs-button {
      @screen lg {
        margin-left: 74px;
      }
    }

    &-1 {
      @apply bg-primary text-white;
      padding: 62px 0 85px;
      @screen md {
        padding: 83px 0 102px;
      }
      @screen lg {
        padding: 81px 0 0;
        @apply text-center;
      }
      @media (min-width: 1316px) {
        .button {
          @apply absolute bottom-0;
          right: -101px;
          min-width: 235px;
        }
      }
      .case-studies-item-content {
        @apply w-full;
        @screen lg {
          @apply flex flex-col;
        }
      }
      .case-studies-item-image {
        @apply w-full;
        @screen lg {
          margin-top: 72px;
          order: 4;
        }
        img {
          @apply mx-auto;
        }
      }
      h3 {
        color: #ffc851;
        @screen lg {
          order: 1;
        }
      }
      h2 {
        @screen lg {
          @apply mb-2.5;
          order: 2;
        }
      }
      .client-mesage {
        @screen lg {
          @apply pl-0 mx-auto;
          max-width: 876px;
          order: 3;
          &::before {
            @apply hidden;
          }
          + span {
            order: 5;
          }
        }
        p {
          @apply text-white text-16;
          @screen md {
            @apply text-18;
          }
        }
        &-foot {
          @screen lg {
            @apply justify-center text-left;
          }
          h4 {
            @apply text-white;
          }
        }
      }
    }
    &-2 {
      @apply bg-lightblue;
      padding: 43px 0 27px;
      @screen md {
        padding: 54px 0 46px;
      }
      @screen lg {
        padding: 120px 0 54px;
      }
      h3 {
        color: #196cf3;
      }
      h2 {
        @screen lg {
          max-width: 575px;
        }
      }
      .case-studies-item-image {
        @screen lg {
          @apply absolute right-0 top-0;
        }
        @screen lgd {
          @apply text-center;
        }
        &-in {
          @apply bg-white rounded inline-block;
          @screen lg {
            @apply -mr-10;
          }
          @media (min-width: 1317px) {
            margin-right: -201px;
          }
        }
        img {
          box-shadow: -6px 0px 54px 10px rgba(0, 0, 0, 0.1);
          @apply rounded;
          @screen lg {
            @apply w-full;
          }
        }
      }
    }
    &-3 {
      @apply bg-lightblue;
      padding: 27px 0 51px;
      @screen md {
        padding: 46px 0 112px;
      }
      @screen lg {
        padding: 54px 0 68px;
      }
      .case-studies-item-in {
        @screen lg {
          @apply flex-row-reverse;
        }
      }
      h3 {
        color: #0047af;
      }
      .cs-button {
        @screen lg {
          @apply relative z-20;
        }
      }
      .case-studies-item-image {
        @screen lg {
          @apply absolute left-0 top-0;
        }
        @screen lgd {
          @apply text-center;
        }
        &-in {
          @apply bg-white rounded inline-block;
          @screen lg {
            @apply -ml-10;
          }
          @media (min-width: 1317px) {
            margin-left: -207px;
          }
        }
        img {
          box-shadow: -6px 0px 54px 10px rgba(0, 0, 0, 0.1);
          @apply w-full;
          @screen lg {
            @apply w-full;
          }
        }
      }
    }
    &-4 {
      @apply text-white relative;
      @screen lgd {
        background-color: #e53935;
      }
      padding: 43px 0 50px;
      @screen md {
        padding: 43px 0 92px;
      }
      @screen lg {
        padding: 141px 0 112px;
        &::before {
          content: "";
          @apply absolute left-0 top-0 bg-lightblue w-full h-1/2;
          z-index: 1;
        }
        > svg {
          @apply absolute left-0 top-0 w-full h-full;
          z-index: 2;
        }
      }
      h3 {
        @apply text-white;
      }
      .case-studies-item-in {
        @apply relative z-10;
      }
      .case-studies-item-image {
        @screen lg {
          @apply absolute right-0 top-0;
        }
        &-in {
          @screen lg {
            @apply -mr-10;
            margin-top: -160px;
            merg-left: -100px;
          }
          @media (min-width: 1317px) {
            margin-right: -242px;
          }
        }
        img {
          @screen lg {
            @apply w-full;
          }
        }
      }
      .client-mesage {
        p {
          @apply text-white;
        }
        &-foot {
          h4 {
            @apply text-white;
          }
        }
      }
    }
    &-5 {
      padding: 43px 0 97px;
      @screen md {
        padding: 89px 0 51px;
      }
      @screen lg {
        padding: 120px 0 110px;
      }
      h3 {
        color: #f41946;
      }
      h2 {
        @screen lg {
          max-width: 575px;
        }
      }
      .case-studies-item-content {
        @screen lg {
          width: 46%;
        }
      }
      .case-studies-item-image {
        @screen lg {
          width: 54%;
          @apply absolute right-0 top-0;
        }
        img {
          @apply mx-auto;
        }
      }
    }
  }
}
