.hbspt-form{
    form.hs-form{
        width: 100% !important;
    }
    .input{
        width: 200%;
    }
    .hs-fieldtype-text{
        width: 200%;
    }
}

.inputs-list.multi-container{
    display: flex;
}

