.banner-block{
    @apply -mx-5 pl-5 pr-5;
    @screen md {
        @apply -mx-10 pl-10 pr-10;
    }
    @media (min-width:1317px){
        margin-left: calc((100vw - 1236px) * -0.5);
        margin-right: calc((100vw - 1236px) * -0.5);
        padding-right: calc((100vw - 1236px) * 0.5);
        padding-left: calc((100vw - 1236px) * 0.5);
    }
    h1 {
        @apply mb-3.5;
        @screen smd {
            @apply text-60;
        }
        @screen md {
        @apply mb-7 text-94;
        }
        @screen lg {
        @apply mb-9;
        }
        @media (min-width: 1270px){
            font-size: 7.4rem
        }
    }
    h2 {
        @apply font-sans text-orange mb-3 text-26 font-normal;
        line-height: 1.155;
        
        @screen md {
        @apply text-36;
        line-height: 0.94;
        }
    }
    p {
        @apply text-secondary text-16 mb-5;
        @screen md {
            @apply text-20 mb-9;
            line-height: 1.4;
        }
    }
    &.style-1{
        position: relative;       
        padding-top: 90px;
        padding-bottom: 44px;  
        background-color: #EEF4FD; 
        z-index: 10;
        @screen md {
            padding-bottom: 0;
            padding-top: 159px;            
        }
        @screen lg {
            margin-bottom: 122px;
        }
        .banner-block-content{
            @screen xl {
                padding-left: 8.333%;
            }
            
                &-main{
                    @screen lg {
                        @apply flex justify-between -mx-4;
                    }
                }
                &-in{
                    @screen lg {
                        @apply px-4;
                        width: 40%;
                    }
                }
                &-image{
                    @apply relative;
                    @screen lgd {
                        @apply mt-10;
                    }
                    @screen lg {
                        @apply px-4;
                        width: 53.23%;
                        margin-bottom: -122px;
                    }
                    img{
                        border-radius: 60px 10px 10px 10px;
                        box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.15);
                        @screen lg {
                            @apply relative z-10;
                        }
                    }
                    svg{
                        @apply hidden;
                        @screen lg {
                            @apply block absolute transition-all duration-500 delay-500 opacity-0;
                            &:first-child{
                                top: 0;
                                right: 0;                            
                            }
                            &:last-child{
                                left: 0;
                                bottom: 0;
                            }
                        }
                    }
                    &.aos-animate{
                        svg{
                            @screen lg {
                                @apply opacity-100;
                                &:first-child{
                                    right: -79px;
                                    top: -86px;
                                }
                                &:last-child{
                                    left: -45px;
                                    bottom: -51px;
                                }
                            }
                        }
                    }
                }
        }
    }
    &.style-2{
        padding-top: 90px;
        padding-bottom: 40px;
        @apply relative;
        @screen md{
            padding-top: 100px;
            padding-bottom: 124px;
        }
        @screen lg{
            padding-top: 158px;
            padding-bottom: 134px;
            &::before{
                content: "";
                width: 72%;
                @apply h-full absolute right-0 bg-lightblue top-0;
                border-bottom-left-radius: 100px;
            }
        }
        h1{
            @screen xl{
                @apply relative;
                padding-right: 20px;
                .b-path-anim{
                    @apply absolute right-0;
                    bottom: -30px;
                }
            }
        }
        .banner-block{
            &-main{
                @screen lg{
                    @apply flex -mx-5 flex-row-reverse items-center relative z-10;
                }
            }
            &-content{
                @screen lgd{
                    @apply mb-8;
                }
                @screen lg{
                    @apply px-5 w-7/12;
                }
                &-in{
                    @screen xl{
                        @apply flex gap-8 items-center;
                        p{
                            @apply mb-0;
                        }
                    }
                    
                }
            }
            &-image{
                @screen lg{
                    @apply px-5 w-5/12;
                }
                img{
                    @apply inline-block;
                    border-bottom-left-radius: 60px;
                }
            }
        }
    }
    &.style-3{
        padding-top: 90px;
        padding-bottom: 40px;
        @apply relative text-center;
        @screen md{
            padding-top: 100px;
            padding-bottom: 60px;
        }
        @screen lg{
            padding-top: 143px;
            padding-bottom: 60px;
            &::before{
                content: "";
                height: 80%;
                @apply absolute right-0 bg-lightblue top-0 w-full;
                border-bottom-left-radius: 100px;
            }
        }
        @screen lgd{
            @apply bg-lightblue;
        }
        h1{
            @screen lg{
                @apply relative mx-auto;
                .b-path-anim{
                    @apply relative;
                    top: 75px;
                    left: 25px;
                    .postid-1234 &{
                        left: 64px;
                    }
                }
                .postid-1234 &{
                    max-width: 940px;
                }
            }
        }
        .postid-1336 &{
            .banner-block-content-in{
                @screen lg{
                    max-width: 1008px;
                }
            }
        }
        .postid-1405 &{
            .b-path-anim{
                @apply hidden;
            }
            .banner-block-content-in{
                @apply justify-center;
            }
        }
        .banner-block{
            &-main{
                @apply flex flex-col justify-center items-center relative z-10;
            }
            &-content{
                @apply mb-8;
                @screen lg{
                    margin-bottom: 85px;
                }
                &-in{
                    @screen lg{
                        max-width: 832px;
                        @apply flex gap-8 items-center mx-auto text-left;
                        p{
                            @apply mb-0;
                        }
                    }
                    
                }
                &-ex{
                    border-top: 1px solid #B8C7DD;
                    @apply mt-6 pt-6 text-center;
                    h3{
                        @apply text-22 mb-6;
                        line-height: 1.15;
                        @screen lg{
                            @apply text-28;
                        }
                    }
                    ul{
                        @apply flex flex-wrap gap-x-8 gap-y-3 text-18 text-secondary list-none justify-center;
                        @screen lg{
                            @apply text-20 mx-auto;
                            max-width: 1008px;
                        }
                        li{
                            padding-left: 30px;
                            @apply relative;
                            &::before{
                                content: "";
                                width: 19px;
                                height: 19px;
                                @apply border-4 border-orange rounded-full absolute left-0;
                                top: 4px;
                            }
                        }
                    }
                }
            }
            &-image{
                @screen lg{
                    @apply relative;
                    &::before, &::after{
                        content: "";
                        @apply absolute transition-all duration-500 delay-500 opacity-0;
                    }
                    &::before{
                        width: 177px;
                        height: 177px;
                        background: #E85C4B;
                        border-radius: 50%;
                        left: 0;
                        top: 0;
                    }
                    &::after{
                        width: 119px;
                        height: 119px;
                        background: #174BFF;
                        border-radius: 50%;
                        right: 0;
                        top: 47%;
                    }
                    &.aos-animate{
                        &::before, &::after{
                            @apply opacity-100;
                        }
                        &::before{
                            left: -62px;
                            top: -56px;
                        }
                        &::after{
                            right: -43px;
                        }
                    }
                }
                img{
                    @apply inline-block relative z-10;
                    border-radius: 60px 10px 10px 10px;
                }
            }
        }
    }
    &.style-4{
        padding-top: 90px;
        padding-bottom: 40px;
        @apply relative;
        @screen md{
            padding-top: 100px;
            padding-bottom: 124px;
        }
        @screen lg{
            padding-top: 158px;
            padding-bottom: 134px;
            &::before{
                content: "";
                width: 30%;
                @apply h-full absolute right-0 bg-lightblue top-0;
                border-bottom-left-radius: 100px;
            }
        }
        h1{
            @screen xl{
                @apply relative;
                padding-right: 20px;
                .b-path-anim{
                    @apply absolute right-0;
                    bottom: -30px;
                }
            }
        }
        .banner-block{
            &-main{
                @screen lg{
                    @apply flex -mx-5 items-center relative z-10;
                }
            }
            &-content{
                @screen lgd{
                    @apply mb-8;
                }
                @screen lg{
                    @apply px-5 w-1/2;
                }
                &-in{                    
                    p{
                        @apply mb-5;
                        @screen lg{
                             @apply mb-10;
                        }
                    }
                }
            }
            &-image{
                @apply relative;
                @screen lg{
                    @apply px-5 w-1/2;
                }
                img{
                    @apply inline-block ;
                    border-radius: 60px 10px 10px;
                    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.15);
                    @screen lg{
                        @apply relative z-10;
                    }
                }
                svg{
                    @apply hidden;
                    @screen lg {
                        @apply block absolute transition-all duration-500 delay-500 opacity-0;
                        &:first-child{
                            top: 0;
                            right: 0;                            
                        }
                        &:last-child{
                            left: 0;
                            bottom: 0;
                        }
                    }
                }
                &.aos-animate{
                    svg{
                        @screen lg {
                            @apply opacity-100;
                            &:first-child{
                                right: -58px;
                                top: -63px;
                            }
                            &:last-child{
                                left: -36px;
                                bottom: -40px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.style-5{
        padding-top: 90px;
        padding-bottom: 40px;
        @apply relative bg-lightblue;
        @screen md{
            padding-top: 100px;
            padding-bottom: 124px;
        }
        @screen lg{
            padding-top: 179px;
            padding-bottom: 90px;
            border-bottom-left-radius: 100px;
        }
        h1{
            @screen xl{
                @apply relative;
            }
        }
        .banner-block{
            &-main{
                @screen lg{
                    @apply flex -mx-5 relative z-10;
                }
                @screen xld{
                    @apply items-center;
                }
            }
            &-content{
                @screen lgd{
                    @apply mb-8;
                }
                @screen lg{
                    @apply px-5 w-1/2;
                }
                &-in{                    
                    p{
                        @apply mb-5;
                        @screen lg{
                             @apply mb-10;
                        }
                        @screen xl{
                            max-width: 492px;
                        }
                    }
                }
            }
            &-image{
                @apply relative;
                @screen lg{
                    @apply px-5 w-1/2;
                }
                @screen xl{
                    margin-bottom: -214px;
                    margin-top: 45px;
                }
                img{
                    @apply inline-block ;
                    border-radius: 60px 10px 10px;
                    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.15);
                    border: 1px solid #C6C6EB;
                    @screen lg{
                        @apply relative z-10;
                    }
                }
            }
        }
    }
}